{{ define "main" }}

  <div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
      <div class="text-lg max-w-prose mx-auto">
        <h1>
          <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">{{ .Params.Date.Format "January 2006" }}</span>
          <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ .Title }}</span>
        </h1>
        <p class="mt-8 text-xl text-gray-500 leading-8">{{ .Params.summary }}</p>
      </div>
      <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
        {{ .Content }}

        {{ with .Params.docFile }}
          <a href="/newsletters/{{ . }}" class="font-bold font-lg text-center" download>Download this newsletter</a>
        {{ end }}
      </div>
    </div>
  </div>

{{ end }}