<footer class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      {{ range site.Menus.main }}
        <div class="px-5 py-2">
          <a href="{{ .URL }}" class="text-base text-gray-500 hover:text-gray-900">
            {{ .Name }}
          </a>
        </div>
      {{ end }}
    </nav>
    <div class="mt-8 flex justify-center space-x-6">
      {{ range site.Menus.social }}
        <a href="{{ .URL }}" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">{{ .Name }}</span>
          {{ .Pre }}
        </a>
      {{ end }}
    </div>
    <p class="mt-8 text-center text-base text-gray-400">
      <i class="fa-light fa-copyright"></i> 1864 - {{ now.Format "2006" }}. All rights reserved.
    </p>
    <p class="text-center text-sm text-gray-400">
      Website by <a href="https://www.hyperdrivecodes.com" target="_blank">Hyperdrive Web Development</a>.
    </p>
  </div>
</footer>