{{ $logo := (resources.Get "images/logo.png").Resize "140x webp q75" }}
<header class="text-gray-600 body-font sticky shadow">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="{{ $logo.RelPermalink }}" alt="{{ .Site.Title }}" height="{{ div $logo.Height 2 }}" width="{{ div $logo.Width 2 }}">
      <span class="ml-3 text-xl">{{ site.Title }}</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      {{ range site.Menus.main }}
        <a href="{{ .URL }}" class="mr-5 hover:text-gray-900 hover:bg-red-300 hover:text-red-700 hover:shadow transition-all duration-300 rounded px-4 py-1">{{ .Name }}</a>
      {{ end }}
    </nav>
    <button class="inline-flex items-center bg-blue-100 border-0 py-4 px-10 focus:outline-none hover:bg-blue-200 rounded text-base mt-4 md:mt-0 text-blue-800 text-lg font-bold">Give Online&nbsp;&nbsp; 
      <i class="fa-light fa-hands-holding-heart fa-fw fa-lg"></i>
    </button>
  </div>
</header>