{{ define "main" }}

  {{ $header := (resources.Get "images/church-front.jpg").Resize "1600x webp q75" }}

<div class="relative">
  <div class="w-full sm:px-6 lg:px-8">
    <div class="absolute inset-0">
      <img class="h-full w-full object-cover" src="{{ $header.RelPermalink }}">
      <div class="absolute inset-0 bg-sky-900 mix-blend-multiply"></div>
    </div>
    <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
      <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
        <span class="block text-white drop-shadow">St. Paul Ev. Lutheran Church</span>
        <span class="block text-red-300">Chenoa, Illinois</span>
      </h1>
      <p class="mt-6 max-w-lg mx-auto text-center text-white italic sm:max-w-3xl">
        A Member of the Lutheran Church — Missouri Synod
      </p>
    </div>
  </div>
</div>
{{ end }}