{{ define "main" }}

  {{ $header := (resources.Get "images/church-front.jpg").Resize "1600x webp q75" }}

  <div class="relative">
    <div class="w-full sm:px-6 lg:px-8">
      <div class="absolute inset-0">
        <img class="h-full w-full object-cover" src="{{ $header.RelPermalink }}">
        <div class="absolute inset-0 bg-sky-500 mix-blend-multiply"></div>
      </div>
      <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
          <span class="block text-white drop-shadow">St. Paul Ev. Lutheran Church</span>
          <span class="block text-sky-200">Chenoa, Illinois</span>
        </h1>
        <p class="mt-6 max-w-lg mx-auto text-center text-white italic sm:max-w-3xl">
          A Member of the Lutheran Church — Missouri Synod
        </p>
      </div>
    </div>
  </div>

  <div class="bg-gray-50 pt-12 sm:pt-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-3xl font-extrabold text-sky-900 sm:text-4xl">
          We hope to see you this Sunday!
        </h2>
        <p class="mt-3 text-xl text-gray-500 sm:mt-4">
          We have the Divine Service & Bible Study every Sunday,<br> with Sunday School running from May to September.
        </p>
      </div>
    </div>
    <div class="mt-10 pb-12 bg-white sm:pb-16">
      <div class="relative">
        <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="max-w-4xl mx-auto">
            <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">
              <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                  Mask Mandatory Service
                </dt>
                <dd class="order-1 text-5xl font-extrabold text-sky-600">
                  8 am 
                </dd>
              </div>
              <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                  Sunday School & Bible Study
                </dt>
                <dd class="order-1 text-5xl font-extrabold text-sky-600">
                  9 am 
                </dd>
              </div>
              <div class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                  Mask Optional Divine Service
                </dt>
                <dd class="order-1 text-5xl font-extrabold text-sky-600">
                  10 am
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ $pastor := (resources.Get "images/family.jpg").Resize "500x webp q75" }}
  <div class="bg-white overflow-hidden">
    <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
        <div>
          <h2 class="text-base text-sky-600 font-semibold tracking-wide uppercase">Meet our pastor</h2>
          <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-sky-700 sm:text-4xl">Rev. Jeremy Latzke</h3>
        </div>
      </div>
      <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="relative lg:row-start-1 lg:col-start-2">
          <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
            <figure>
              <img class="rounded-lg shadow" src="{{ $pastor.RelPermalink }}" width="1184" height="1376">
              <figcaption class="mt-3 flex text-sm text-gray-500">
                <i class="fa-light fa-camera fa-fw fa-lg"></i>
                <span class="ml-2">Rev. Jeremy Latzke & his family</span>
              </figcaption>
            </figure>

            <div class="mt-5 prose prose-sky text-gray-500 mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">

              <h4 class="text-sky-600 text-lg">Confession and The Office of The Keys</h4>

              <p>The Christian faith is not just about reading words on a page, but about hearing God’s message of forgiveness with our own ears. The essence of confession is not our confession, but the words of absolution we hear from our pastor. These are words spoken in love and grace to assure each of us of the forgiveness of sins that comes from Christ. It is as if Christ himself were saying them to us.</p>

              <p><a href="https://catechism.cph.org/en/confession.html" target="_blank" rel="noopener">Click Here for more on Confession and Absolution and Luther's Explanation</a>.</p>

              <h4 class="text-sky-600 text-lg">The Sacrament of the Altar</h4>

              <p>Better known today as the Lord’s Supper or Holy Communion, this Sacrament lies at the heart of the Christian church’s weekly worship. The Lord’s Supper is not merely a symbolic meal, nor is it something that we offer back to God: it is, as Luther puts it, "the true body and blood of our Lord Jesus Christ, under the bread and wine", in which "forgiveness of sins, life, and salvation are given us."</p>

              <p><a href="https://catechism.cph.org/en/sacrament-of-the-altar.html" target="_blank" rel="noopener">Click Here for more on the Lord's Supper and Luther's Explanation</a>.</p>

              <h4 class="text-sky-600 text-lg">Holy Baptism</h4>

              <p>Baptism is the start of the Christian life!</p>

              <p>Here at St. Paul we believe that all nations are invited to the waters of Holy Baptism. The gifts God pours out in this blessed gift are for babies and seniors, men and women, rich and poor, black and white, and everyone in between.</p>

              <p>In Baptism you receive God’s gift of forgiveness. As if that weren’t enough, you are marked as one of His beloved children and made a member of His eternal family. In Baptism God rescues you from death and the devil and gives you the promise of eternal salvation.</p>


              <p>It is also the basis for our life as a Christian, which Martin Luther portrays as a daily return to the waters of Baptism to receive its blessings new every day!</p>

              <p><a href="https://catechism.cph.org/en/sacrament-of-holy-baptism.html" target="_blank" rel="noopener">Click Here for more on Baptism and Luther's Explanation</a>.</p>

            </div>
          </div>
        </div>
        <div class="mt-8 lg:mt-0">
          <div class="text-base max-w-prose mx-auto lg:max-w-none">
            <p class="text-lg text-sky-900">After years of insisting he would not follow his grandparents and parents into education or ministry, the Holy Spirit led him to enroll at Concordia University- River Forest.</p>
          </div>
          <div class="mt-5 prose prose-sky text-gray-500 mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
            
            <p>Pastor Jeremy grew up in a family full of church workers. This led to a number of moves in his youth, though he primarily grew up in northern Illinois. After years of insisting he would not follow his grandparents and parents into education or ministry, the Holy Spirit led him to enroll at Concordia University- River Forest (now Chicago) upon graduating high school. From there he made his way to Concordia Seminary in St. Louis, graduating with his M.Div in 2009. His first call was to the Lutheran Church of St. John in Quincy, IL.</p>

            <p>In March of 2015 Pastor Jeremy accepted a call to serve here at St. Paul.</p>

            <p>Pastor’s family includes his wife, Ruth, and their two sons, Isaac and Ethan.</p>

            <p>Outside of church pastor is a fan of the Chicago White Sox and Green Bay Packers, baking, and fantasy baseball.</p>

            <h3 class="text-sky-800">What We Believe</h3>

            <p>The Lutheran faith is built around three basic principles – Sola Scriptura, Sola Fide, Sola Gratia.</p>

            <p>These principles of <strong>Word Alone, Faith Alone, and Grace Alone</strong> are then articulated in what we call the six-chief parts of the Christian Faith. These six parts provide a summary of what we believe.</p>

            <p>They are outlined in Martin Luther's Small Catechism and they provide a clear explanation of the most important teachings found in the Bible. If you would like to have a copy of the Catechism, give us a call in the church office or reach out via email. We would love to give you one.</p>

            <h4 class="text-sky-600 text-lg">The Ten Commandments</h4>

            <p>The 10 commandments set out the requirements of God’s Law. They show us how God expects us to live our lives in a God-pleasing way. However, God reminds us through the 10 commandments that we all sin and fall short of God's standard. Thus we need a Savior who can forgive us from all our mistakes, failures, and short-comings.</p>

            <p><a href="https://catechism.cph.org/en/10-commandments.html" target="_blank" rel="noopener">Click Here to see the Ten Commandments and Luther's Explanation</a>.</p>

            <h4 class="text-sky-600 text-lg">The Apostles’ Creed</h4>

            <p>The Creed summarizes the Bible’s teachings about God as he has chosen to reveal himself.  While the Creed has three parts to it (Father, Son, and Holy Spirit), it has a special emphasis on Jesus.  It describes how he was born as a human being, suffered and died for our sins, and was raised to life again at the first Easter. In our worship services we use the Creed to confess together as a community of faith what we believe about God.</p>

            <p><a href="https://catechism.cph.org/en/creed.html" target="_blank" rel="noopener">Click Here to see the Apostles’ Creed and Luther's Explanation</a></p>

            <h4 class="text-sky-600 text-lg">The Lord’s Prayer</h4>

            <p>The disciples once asked Jesus, "How should we pray?" In response, Jesus taught them the simple prayer that we now call the Lord's Prayer.</p>

            <p>This prayer is the model for our own prayer life and it teaches us what we should ask God for.</p>

            <p>The Lord’s Prayer also teaches us a great deal about what God is like and His priorities for His creation and our own lives.</p>

            <p>This prayer invites us to trust Jesus for all God things and for his help in times of distress and temptation.</p>

            <p><a href="https://catechism.cph.org/en/lords-prayer.html" target="_blank" rel="noopener">Click Here to see the Lord's Prayer and Luther's Explanation</a>.</p>

          </div>
        </div>
      </div>
  
      <h4 class="text-sky-700 text-center text-2xl mt-8 underline hover:text-sky-600"><a href="https://www.lcms.org/" target="_blank" rel="noopener">For a more extensive treatment of "What Lutherans Believe" check out www.LCMS.org</a></h4>

    </div>
  </div>

{{ end }}